/***GENERAL***/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}



body {
    background-image:  url(imgs/igrapovrsina.png);
    background-size: cover;
    background-position: center;
    font-family: Lato;
    font-weight: 300;
    position: relative;
    height: 100vh;
    color: yellow;
}

.box1 {
    height: 600px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 10px 70px #50dfdb;
    overflow: hidden;
    border-radius: 20%;
    border: 2px solid #50dfdb;   
}

.box2 {
    height: 600px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 47%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 10px 70px#50dfdb;
    overflow: hidden;
    border-radius: 20%;
    border: 2px solid #50dfdb;
}

.active .box1{
    box-shadow: 0px 10px 70px yellow;
    border: 3px solid yellow;
}

.active .box2{
    box-shadow: 0px 10px 70px yellow;
    border: 3px solid yellow;
}

.active .player-current-box {
    border: transparent;
    box-shadow: 0px 10px 70px yellow;
}

.active .player-current-box::before {
    content: '';
    position: absolute;
    top: 64%;
    left: 28.5%;
    width: 120px;
    height: 120px;
    border: 3px solid transparent;
    border-top: 5px solid yellow;
    border-right: 5px solid yellow;
    border-radius: 50%;
    animation: animateCircle 2s linear infinite;
}

.active span {
    display: block;
    position: absolute;
    left: 50%;
    width: 49px;
    height: 80px;
    background: transparent;
    transform-origin: left;
    animation: animate 2s linear infinite;
}

.active span:before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: yellow;
    top: -6px;
    right: -8px;
    box-shadow: 0 0 20px yellow;
}

@keyframes animateCircle
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}

@keyframes animate
{
    0%
    {
        transform: rotate(90deg);
    }
    100%
    {
        transform: rotate(450deg);
    }
}

.active .player-name {
    color: yellow;
}

.active .player-current-label {
    color: yellow;
    
}

.active .player-current-score {
    color: yellow;

}

.active .player-score {
    color: yellow;
}




.options {
    height: 600px;
    width: 250px;
    position: absolute;
    top: 50%;
    left: 31%;
    transform: translate(-50%, -50%);
    overflow: hidden;

}



/***PLAYERS***/

.player-name {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase; 
    letter-spacing: 2px;
    font-weight: 300;
    margin-top: 100px;
    margin-bottom: 10px;
    position: relative;
    color: #50dfdb;
}

.player-score {
    text-align: center;
    font-size: 80px;
    font-weight: 300;
    color: #50dfdb;
    margin-bottom: 130px;
}



.player-current-box {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    border-radius: 50%;
    border-style: solid;
    border-width: 5px;
    box-shadow: 0px 10px 40px #50dfdb;
    border-color: #50dfdb;
}

.player-current-label {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 12px;
    color: #50dfdb;
}

.player-current-score {
    font-size: 30px;
    color: #50dfdb;
}

button {
    position: absolute;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    color: yellow;
    background: none;
    border: none;
    font-family: Lato;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
    
}

button:hover { font-weight: 600; }
button:hover i { margin-right: 20px; }

button:focus {
    outline: none;
}

i {
    color: yellow;
    display: inline-block;
    margin-right: 15px;
    font-size: 32px;
    line-height: 1;
    vertical-align: text-top;
    margin-top: -4px;
    transition: margin 0.3s;
}

.btn-new { top: 45px;}
.btn-roll { top: 403px;}
.btn-hold { top: 467px;}

.dice {
    position: absolute;
    left: 50%;
    top: 178px;
    transform: translateX(-50%);
    height: 100px;
    border-radius: 5px;;
    /*animation: shake 0.1s ease-in-out 0.1s 3 alternate;*/
}

.winner .box1 {
        box-shadow: 0px 10px 70px yellow;
        border: 2px solid yellow;
        animation: glow 0.7s linear infinite;
}
 .winner .box2 {
    box-shadow: 0px 10px 70px yellow;
    border: 2px solid yellow;
    animation: glow 0.7s linear infinite;
}   
.winner .player-name {
     font-weight: 1000; 
     color: #39FF14; 
     transition: ease;
     animation: scale 0.7s linear infinite;
}
.winner .player-current-label {
        color: #39FF14;   
}
.winner .player-current-score {
        color: #39FF14;   
}
.winner .player-score {
        color: #39FF14;
        animation: scale 0.7s linear infinite;
}  
.winner .player-current-box {
    box-shadow: 0px 10px 40px yellow;
    border-color: yellow;
    animation: glow 0.7s linear infinite;
}
.rules_btn {
    position: absolute;
    top: 20%;
    left: 77%;  
    height: 50px;
    width: 200px;
    background-color: yellow;
    color: rgb(14, 63, 128);
    border-width: 3px;
    border-style: solid;
    border-color: yellow;
    border-radius: 10px;
    font-weight: 1000;
    box-shadow: 0px 10px 40px rgb(14, 63, 128);
}

.rules_popup {
    position: absolute;
    display: none;
    top: 100%;
    left: -25%;
    height: 430px;  
    width: 300px;
    background-color: rgba(14, 63, 128, 0.9);
    border-radius: 10px;
    box-shadow: 0px 10px 70px yellow;
}
.rules_content {
    padding: 20px;
    color: yellow;
    text-transform: none;
    
}
.rules_btn:hover .rules_popup {
    display: block;
}    

@keyframes glow
{
    0%
    {
        box-shadow: 0px 10px 70px #50dfdb;
        border: 7px solid #50dfdb;
    }
    100%
    {
        box-shadow: 0px 10px 70px #39FF14;
        border: 7px solid #39FF14;
    }
}

@keyframes scale
{
   
    50%
    {
        transform: scale(1.2);
    }
}

@keyframes shake
{
    0%{
        transform: translateX(-50%) rotate(15deg);
        transform-origin: center;
    }
    50% {
        transform: translateX(-50%) rotate(-15deg);
        transform-origin: center;
    }
    100%{
        transform: translateX(-50%) rotate(0deg);
        transform-origin: center;
    }
}